.row-fluid
  .span12
    %table.table.table-bordered.table-hover
      = render :partial => :kid, :collection => Kid.all

.row-fluid
  .span12
    .well.well-large
      = link_to "Add Student", new_kid_path, class: "btn btn-primary"

